<div class="text-3xl text-gray-900 dark:text-white uppercase font-semibold mt-12 border-b border-gray-700">
    <h1 class="py-6">Perfil</h1>
</div>

<div class="grid grid-cols-8 mt-6 mb-12">
    <div class="col-span-1 lg:col-span-2">
        <div class=" font-medium rounded-lg dark:bg-gray-800 hover:bg-custom-400 dark:hover:bg-custom-400 py-3 px-4 mb-3">
            <a class="flex lg:hidden text-center text-gray-900 dark:text-white" href="">
                <i class='bx bx-cog bx-sm'></i>
            </a>
            <a class="hidden lg:flex" href="">
                <p class="inline-block text-md text-gray-900 dark:text-white align-middle"><i
                        class='bx bx-cog bx-sm inline-block align-middle mr-3'></i>Configuración de la cuenta</p>
            </a>
        </div>
        <div class=" font-medium rounded-lg dark:bg-gray-800 hover:bg-custom-400 dark:hover:bg-custom-400 py-3 px-4 my-3">
            <a class="flex lg:hidden text-center text-gray-900 dark:text-white" href="">
                <i class='bx bx-map bx-sm'></i>
            </a>
            <a class="hidden lg:flex" href="">
                <p class="inline-block text-md text-gray-900 dark:text-white align-middle"><i class='bx bx-map bx-sm inline-block align-middle mr-3'></i>Datos de envío</p>
            </a>
        </div>
        <div class=" font-medium rounded-lg dark:bg-gray-800 hover:bg-custom-400 dark:hover:bg-custom-400 py-3 px-4 my-3">
            <a class="flex lg:hidden text-center text-gray-900 dark:text-white" href="">
                <i class='bx bx-receipt bx-sm'></i>
            </a>
            <a class="hidden lg:flex" href="">
                <p class="inline-block text-md text-gray-900 dark:text-white align-middle"><i class='bx bx-receipt bx-sm inline-block align-middle mr-3'></i>Pago y facturación</p>
            </a>
        </div>
        <div class=" font-medium rounded-lg dark:bg-gray-800 hover:bg-custom-400 dark:hover:bg-custom-400 py-3 px-4 my-3">
            <a class="flex lg:hidden text-center text-gray-900 dark:text-white" href="">
                <i class='bx bx-package bx-sm'></i>
            </a>
            <a class="hidden lg:flex" href="">
                <p class="inline-block text-md text-gray-900 dark:text-white align-middle"><i class='bx bx-package bx-sm inline-block align-middle mr-3'></i>Historial de pedidos</p>
            </a>
        </div>
        <div class="font-medium rounded-lg dark:bg-gray-800 hover:bg-custom-400 dark:hover:bg-custom-400 py-3 px-4 my-3">
            <a class="flex lg:hidden text-center text-gray-900 dark:text-white" href="">
                <i class='bx bx-heart bx-sm'></i>
            </a>
            <a class="hidden lg:flex" href="">
                <p class="inline-block text-md text-gray-900 dark:text-white align-middle"><i class='bx bx-heart bx-sm inline-block align-middle mr-3'></i>Favoritos</p>
            </a>
        </div>
    </div>
</div>